@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Bluescreens";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/TT_Bluescreens_Bold.woff") format("woff");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 60, 3.57%, 10.98%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: #000;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  * > h1, h2 {
    font-family: "TT Bluescreens";
  }
}
